block config
  include variables
  include mixins
doctype html
html(lang="es")
  head
    title=`${pageTitle} ${siteName}`
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=pageDescription)
    link(rel="shortcut icon" href="/img/favicon.png")
    //- Open Graph Protocol
    meta(property="og:title" content=`${pageTitle} ${siteName}`)
    meta(property="og:type" content="website")
    meta(property="og:description" content=pageDescription)
    meta(property="og:url" content=ogUrl)
    meta(property="og:image" content=image)
    meta(property="og:site_name" content=siteName)
    meta(property="og:locale" content="es_SV")
    //- Twitter Cards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=`${pageTitle} ${siteName}`)
    meta(name="twitter:description" content=pageDescription)
    meta(name="twitter:site" content=twitterAccount)
    meta(name="twitter:image" content=image)
    //- Website Information
    link(rel="author" type="text/plain" href="/humans.txt")
    link(rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml")
    //- Website Styles
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:600")
    link(rel="stylesheet" href="assets/css/styles.css")
  body(itemscope itemtype="http://schema.org/WebPage")
    block header
    block banner
    block main
    block footer

    script(src="assets/js/scripts-min.js")
